<div class="container">
	<h1> {{_products}} </h1>
	
	<div id="accordion">
		{{# each products}}
			<div class="card">
				<div class="card-header" id="heading{{{slug}}}">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{{slug}}}" aria-expanded="false" aria-controls="collapse{{{slug}}}">
							<div class="title">{{_product}} {{{title}}}</div>
						</button>
					</h5>
				</div>
	
				<div id="collapse{{{slug}}}" class="collapse" aria-labelledby="heading{{{slug}}}" data-parent="#accordion">
					<div class="card-body">
						<div class="title"><a href="{{productUrl slug}}">{{{title}}}</a></div>
						{{#if image}}
							<img src="{{{cloudinaryUrl image width=900 height=450 crop="fit"}}}" class="thumbnail" id="imgProd">
						{{/if}}
					</div>
				</div>
			</div>
		{{/each}}
	</div>
	
	
</div>
